{% extends "layout.html" %}

{% block content %}

<head>
    <script type="text/javascript" src="{{ url_for('static', filename = 'album-view.js') }}"></script>

    <script>
        var album = {{ album | tojson }}
    </script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
        .album-art {
            width: 100%;
        }

        .artists-text {
            font-size: 1.5rem;
        }

        .year-text {
            font-size: 1.25rem;
        }

        .labels-text {
            font-size: 1.00rem;
            color: gray;
        }

        .producers-text {
            font-size: 1.00rem;
            color: gray;
        }

        .genres-text {
            font-size: 1.25rem;
            color: gray;
        }

        .undo-bar {
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div id="undo-container" class="col-md-8"></div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img class="album-art" src={{album.album_art}}>
            </div>
            <div class="col-md-6">

                <h2>{{album.title}}</h2>
                <span class="artists-text">
                    By:
                    {% for artist in album.artists %}
                    <span>{{artist}}</span>
                    {% endfor %}
                </span>

                <br>
                <span class="year-text">
                    {{album.year}}
                </span>

                <br>
                <span class="genres-text">
                    {% for genre in album.genres %}
                    <span>{{genre}}</span>
                    {% endfor %}
                </span>

                <br>
                <br>
                <span class="labels-text">
                    Labels:
                    {% for label in album.labels %}
                    <span>{{label}}</span>
                    {% endfor %}
                </span>
                <br>
                <span class="producers-text">
                    Production by:
                    {% for producer in album.producers %}
                    <span>{{producer}}</span>
                    {% endfor %}
                </span>


            </div>
            <div class="col-md-2">
                <button id="delete-album-button" class="btn btn-danger">
                    <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                            clip-rule="evenodd" />
                    </svg>
                </button>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>
                    Description
                </h3>
                <span>{{album.description}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>
                    User Reviews
                </h3>
                <a href="/edit/{{album.id}}">Leave a review</a>
            </div>
        </div>

        {% if album.user_reviews|count == 0 %}
        <div class="row">
            <div class="col-md-6">
                <span>No user reviews yet</span>
            </div>
        </div>
        {% endif %}

        {% for review in album.user_reviews %}
        <div class="row">
            <div class="col-md-6">
                <span>{{review}}</span>
            </div>
        </div>
        {% endfor %}

        <!-- {{album}} -->
    </div>

</body>

{% endblock %}