{% extends "layout.html" %}

{% block content %}

<head>
    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script type="text/javascript" src="{{ url_for('static', filename = 'create-album.js') }}"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
        .error-field {
            border-bottom: 3px solid red;
            background-color: pink;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <a href="/">Return</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">

                <span>Album Title</span>
                <br>
                <input id="title-input" type="text" class="form-control" placeholder="e.g. The College Droput"></input>
                <br>

                <span>Artists (Comma separated)</span>
                <br>
                <input id="artists-input" type="text" class="form-control" placeholder="e.g. Kanye West, Jay Z"></input>
                <br>

                <span>Year</span>
                <br>
                <input id="year-input" type="text" class="form-control" placeholder="e.g. 2004"></input>
                <br>

                <span>Genres (Comma separated)</span>
                <br>
                <input id="genres-input" type="text" class="form-control" placeholder="e.g. Hip hop, Jazz Rap"></input>
                <br>

                <span>Labels (Comma separated)</span>
                <br>
                <input id="labels-input" type="text" class="form-control" placeholder="e.g. Def Jam, Roc-A-Fella"></input>
                <br>

                <span>Producers (Comma separated)</span>
                <br>
                <input id="producers-input" type="text" class="form-control" placeholder="e.g. Kanye West"></input>
                <br>

                <span>Description</span>
                <br>
                <textarea id="description-input" rows="4" class="form-control" placeholder="e.g. The College Dropout is the debut studio album by American rapper and producer Kanye West. It was released on February 10, 2004, by Def Jam Recordings and Roc-A-Fella Records."></textarea>
                <br>

                <span>Album Art (link)</span>
                <br>
                <input id="album-art-input" type="text" class="form-control" placeholder="e.g. http://media.com/album.jpg"></input>
                <br>

                <br>
                <button class="btn btn-primary" id="create-button">Submit</button>

            </div>
        </div>
    </div>

</body>

{% endblock %}
