<html>
<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script type="text/javascript" src="{{ url_for('static', filename = 'layout.js') }}"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Genius Search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create">Create</a>
            </li>
            <li class="nav-item">
                <div id="search-bar-container">
                    <input id="search-input" class="mr-sm-2"></input> 
                    <button class="btn btn-outline-success my-2 my-sm-0" id="submit-button">Submit</button>
                </div>
    
            </li>

          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button id="submit-button" class="btn btn-outline-success my-2 my-sm-0" >Search</button>
          </form> -->
        </div>
      </nav>

      <div class="container">
          {% block content %}

          {% endblock %}
      </div>
    
</body>

</html>